<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <a class="navbar-brand" href="#"><%= bot_name %></a><%= image_tag(Settings.school.bot_pic, class: 'bot-pic') %>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <%= link_to 'Daily Session Document', Settings.links.daily_session_document, class: 'nav-item nav-link' %>
      <%= link_to 'Reference Table', Settings.links.reference_table, class: 'nav-item nav-link' %>
      <% if user_signed_in? %>
        <%= link_to 'Logout', destroy_user_session_path, method: :delete, class: 'nav-item nav-link' %>
      <% end %>
    </div>
  </div>
</nav>
