<!DOCTYPE html>
<html>
  <head>
    <title>ScriptEdBot</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render partial: 'shared/header' %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% if current_user %>
      <h1>Hello, <%= current_user.name %>
    <% else %>
      <%= link_to "Sign in with GitHub", user_github_omniauth_authorize_path %>
    <% end %>
    <%= yield %>
  </body>
</html>
