<!DOCTYPE html>
<html>
  <head>
    <title>ScriptEdBot</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <%= link_to 'Daily Session Document', Settings.daily_session_document %>
    </header>
    <%= yield %>
  </body>
</html>
